.chocolate-col{
    margin-top: 5%;
    margin-left: 6%;
}
.choco-btn{
    background-color: #f73145;
    border: none;
}
.heading2{
    font-family: verdana;
}
.text4{
    font-family: verdana;
    font-size: 19px;
}