.Menu{
    margin-left: 150px;
}
.Menu-col1{
    margin-top: 30px;
    text-align: 100%;  
}
.Menu-col2{
    margin-top: 5%;
    margin-bottom: -15%;
  
}
.Img6{
    height: 250px;

}
.link1{
    color: #f73145;
}
.link1:link {
    text-decoration: none;
    font-family: Verdana;
  }
  
  .link1:visited {
    text-decoration: none;
  }
.text5{
    font-family: Verdana;
}
.heading2{
    font-family: Verdana;
}
.menu-row{
    margin-right: 5%;
    }