.allcake{
    margin-top: 5%;
    margin-left: 50px;
}
.cake{
    
}
.cake1{
    margin-top: 2%;
}
.cake2{
    margin-top: 2%;
}
.Img5{
    height: 250px;
}
.text9{
    font-weight: bold;
    font-family: verdana;
    // margin-right: 130px;
    font-size: 20px;
}
.text10{
    text-align: justify;
    text-justify: inter-word;
    font-family: verdana;
}