.cardCont {
    margin-top: 2%;
}
// .Item .cardCont .cardImg{
//     width: 100px;
// }
// .Button .contained .primary{
//     background-color: aquamarine;
//  }
// .Button .card-btn{
//     background-color: #f73145;
// }
.button3 {
    // margin-top: 0px;
    background-color: #f73145;
    border: none;
    margin-right: 120px;
    border-radius: 30px;
    width:180px;
}
.text6{
    font-weight: bold;
    font-family: verdana;
    margin-right: 120px;
}

.text8{
    text-align: justify;
    text-justify: inter-word;
    font-family: verdana;
}
.button2{
    background-color: #f73145;
    border: none;
    margin-right: 120px;
    border-radius: 30px;
    width:180px;
}