.btn5{
    position: absolute;
    transform:translate(-300%,-400%) ;
    background-color: #f73145; 
    width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Bookmanoldstyle;
  cursor: pointer;
  float: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cardItem{
    margin-top: 2%;
    margin-left: 50px;
}

.text1{
    margin-top:3%;
}

.text2{
    margin-top: 3%;
}
.img1{
    width: 1360px;
    height: 450px;
    object-fit: cover;
}
.text11{
    position: absolute;
    top: 200px;
    left: 50px;
    color: white;
    font-size: 50px;
}
.text12{
    font-family: verdana;
}
.btn5:hover{
    background-color: white;
    color: #f73145;
    border: 2px solid #f73145
}