.newnavbar{
  height: 12.5vh;
}
.bg-myColor{
    background-color:white;
  }

.logo{
    height: 12vh;
  }

.newnavbar .optionNav .option-menu{
  color: black;
}
.newnavbar .optionNav .option-home{
  color: black;
}
.newnavbar .optionNav .option-about{
  color: black;
}
.newnavbar .optionNav .option-reg{
  color: black;
}
.newnavbar .optionNav .collasible-nav-dropdown{
  color: black;
}
.nav-link {
    color: black;
}
/* .dropdown-toggle .nav-link {
  color: black;
} */
.option-profile{
  font-family: verdana;
  
}
.option-home
{
  font-family: verdana;
 
}
.option-menu{
  font-family: verdana;
 
}
.option-about{
  font-family: verdana;
}
.option-reg{
  font-family: verdana;
}
