.newnavbar{
  height: 12.5vh;
}
.bg-myColor{
    background-color:white;
  }

.logo{
    height: 12vh;
  }

.newnavbar .optionNav .option{
  color: black;
}
.newnavbar .optionNav .collasible-nav-dropdown{
  color: black;
}
.nav-link {
    color: black;
}
/* .dropdown-toggle .nav-link {
  color: black;
} */
.option{
  font-family: verdana;
}